@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-4 col-md-3 placeholder">
        <img class="img-responsive" alt="200x200" src="~/Images/200.png">
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h2>Lorem ipsum...</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley of type and scrambled it to make a type specimen book.
                </p>

                <p>
                    <kendo-button name="PrimaryButton" tag="span" class="textButton k-primary">Primary Button</kendo-button>
                </p>
            </div>

            <div class="col-xs-12 col-md-4">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley of type and scrambled it to make a type specimen book.
                </p>
                <p>
                    <kendo-button name="TextButton" tag="span" class="textButton">Button</kendo-button>
                </p>

            </div>
            <div class="col-xs-12 col-md-4">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley of type and scrambled it to make a type specimen book.
                </p>

                <p>
                    <kendo-button name="Button" tag="span" class="textButton">Button</kendo-button>
                </p>

            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-18 col-md-12">
        @(Html.Kendo().Grid<CricApp.Models.PlayerViewModel>
                    ()
                    .Name("player-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.Pid).Filterable(false).Title("Player ID");
                        columns.Bound(p => p.FullName);
                        columns.Bound(p => p.Country);
                        columns.Bound(p => p.PlayingRole);
                    })
                    .Pageable()
                    .Sortable()
                    .Scrollable()
                    .Filterable()
                    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                    .HtmlAttributes(new { style = "height:550px;" })
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model => model.Id(p => p.Pid))
                    .PageSize(20)
                    .Read(read => read.Action("Players_Read", "PlayerGrid"))
                    )
                    .Deferred()
        )
    </div>
</div>

@section scripts
    {
    <script type="text/javascript">
        $(function () {
           var id = null;

           $('#PrimaryButton').click(function () {
               var grid = $('#player-grid').data('kendoGrid');
               grid.select().each(function () {
                   var dataItem = grid.dataItem($(this));
                   id = dataItem.Pid;
               });

               window.location.href = "@Url.Action( "Index", "PlayerStats")" + "?pid=" + id;
           });
       })
    </script>
}